@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-family: "PT Sans Narrow", sans-serif;
  background-color: #302c42;
}

.graf {
  /* width: 100%; */
  display: flex;
  align-items: center;
  gap: 20px;
}
.nav_logo_near_text {
  font-family: "PT Sans Narrow", sans-serif;
  letter-spacing: -1px;
  font-size: 35px;
  color: #8176af;
}

ul,
li {
  list-style: none;
  text-decoration: none;
}

/* NAV qismi  */

.list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list-item {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  text-transform: uppercase;
}

.nav_one_btn {
  background-color: transparent;
  color: white;
  border: 2px solid #ffffff;
  border-radius: 40px;
  padding: 15px 35px;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  text-align: center;
}

.nav_two_btn {
  background: linear-gradient(90deg, #8176af 0%, #c0b7e8 100%);
  color: #343045;
  border-radius: 40px;
  padding: 17px 37px;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  text-align: center;
  border: none;
}

.right_span {
  color: #8176af;
}

.nav_right_text {
  font-family: Montserrat;
  font-size: 46px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0em;
  text-align: left;

  /* font-family: Montserrat;
  font-size: 40px;
  font-weight: 700;
  line-height: 49px;
  letter-spacing: 0em;
  text-align: left; */
  color: white;
}

.right_p {
  color: white;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.right_btn {
  background: linear-gradient(90deg, #8176af 0%, #c0b7e8 100%);
  border-radius: 40px;
  border: none;
  padding: 17px 43px;
  color: #343045;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 700;
}
.add {
  font-size: 70px;
  /* font-weight: 700px; */
  color: white;
  text-align: center;
  /* margin-left: 40px; */
}

.btn_pointer {
  display: flex;
  align-items: center;
  gap: 60px;
}
.img_left {
  border-radius: 100px 100px 100px 240px;
  border: 10px solid;
}

.nav_the_end {
  padding: 33px;
  border-radius: 90px;
  background: radial-gradient(
      50% 2900.76% at 50% 53.89%,
      rgba(58, 52, 86, 0.95) 0%,
      #211e2e 100%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
}

.the_add {
  color: #c0b7e8;
  font-size: 60px;
}

.ic_one {
  color: white;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
}

.icc_p {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
}

.box_ic {
  display: flex;
  align-items: center;
}

.nav_the_end {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.the_p {
  margin-left: 20px;
}

.line {
  width: 1px;
  background-color: rgba(192, 183, 232, 0.33);
  height: 116.5px;
}

/* nav qismi responsive start */

@media (max-width: 576px) {
  .nav_logo {
    width: 100%;
  }
  .graf {
    flex-wrap: wrap;
    gap: 0px;
  }
  .list {
    flex-wrap: wrap;
  }
  .list-item {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 700;
    line-height: 15px;
  }
  .img_left {
    width: 100%;
  }
  .nav_the_end {
    width: 100%;
    padding: 13px;
    border-radius: 90px;
    background: radial-gradient(
        50% 2900.76% at 50% 53.89%,
        rgba(58, 52, 86, 0.95) 0%,
        #211e2e 100%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  }
  .list-item {
    text-align: left;
    /* line-height: 0px; */
  }
  .right_btn {
    width: 100%;
  }
  .nav_the_end {
    padding: 3px;
    border-radius: 90px;
    background: radial-gradient(
        50% 2900.76% at 50% 53.89%,
        rgba(58, 52, 86, 0.95) 0%,
        #211e2e 100%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  }
  .the_add {
    color: #c0b7e8;
    font-size: 50px;
    margin-left: 20px;
  }
  .nav_right_text {
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: 0em;
    text-align: center;

    /* font-family: Montserrat;
    font-size: 40px;
    font-weight: 700;
    line-height: 49px;
    letter-spacing: 0em;
    text-align: left; */
    color: white;
  }
}

/* nav qismi rasponsive finished */

/* HEADER qismi  */

.header_right_text {
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0em;
  text-align: left;
  color: white;
}
.header_right_h3 {
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 300;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
}

.header_left_p {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
}

.header_img_box {
  width: 100%;
}

.grab {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.graf-center {
  display: flex;
  justify-content: center;
}
.graf_f {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.box_card {
  height: 511px;
  width: 310px;
  border-radius: 40px;
  background: radial-gradient(50% 50% at 50% 50%, #433d60 0%, #211e2e 100%);
}

.box_h2_text {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
}

.line_two {
  width: 150px;
  height: 1px;
  background-color: #c0b7e854;
}

.box_p_text {
  margin-top: 25px;
  margin-left: 30px;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
  width: 251px;
}

.box_btncha {
  background: linear-gradient(90deg, #8176af 0%, #c0b7e8 100%);
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: center;
  height: 48px;
  width: 154px;
  border-radius: 40px;
  border: none;
}

.box_imgcha {
  border: 12px solid #0e0e0e52;
  border-radius: 50%;
}

@media (max-width: 576px) {
  .box_card {
    height: 500px;
    width: 300px;
    border-radius: 40px;
  }
}

/* aside qimi */

.aside_border_box {
  background-image: url(./img/anaqa.png);
  background-size: 100%;
  height: 206px;
  width: 100%;
  border-radius: 70px;
  background-repeat: no-repeat;
}

.aside_h1 {
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
}

@media (max-width: 576px) {
  .aside_h1 {
    font-size: 15px;
    line-height: 0px;
  }
  .header_right_h3 {
    font-size: 20px;
  }
  .aside_border_box {
    background-image: url(./img/anaqa.png);
    background-size: 100%;
    height: 80px;
    width: 100%;
    border-radius: 50px;
    background-repeat: no-repeat;
  }
}

/* MAIN qismi  */

.main_right_h3 {
  font-family: Montserrat;
  font-size: 28px;
  font-weight: 300;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
}

.main_right_text {
  font-family: Montserrat;
  font-size: 26px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
}

.num {
  height: 139px;
  width: 139px;
  border-radius: 0px;
  background: linear-gradient(251.27deg, #c0b7e8 12.87%, #8176af 89.33%);
  border-radius: 500%;
  text-align: center;
  border: 10px solid rgb(44, 43, 43);
}

.num_value {
  font-family: Montserrat;
  margin-top: 20px;
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0em;
  text-align: center;
}

.add_under {
  color: #c0b7e8;
  font-size: 20px;
}

.under_sapn {
  color: white;
  line-height: 15px;
  letter-spacing: 3px;
  font-size: 10px;
}

.section_big_box {
  border-radius: 100px;
  background: radial-gradient(50% 50% at 50% 50%, #403a5f 0%, #211e2e 100%);
}

.line_three {
  width: 250px;
  background-color: #c0b7e8;
  opacity: 0.2;
  height: 1px;
}

.one_sec_btn {
  height: 62px;
  width: 424px;
  border-radius: 40px;
  color: #ffffff;
  padding-left: 40px;
  background-color: transparent;
  border: 1px solid white;
  outline: none;
}

.quite_inpt {
  height: 62px;
  width: 858px;
  border-radius: 40px;
  color: #ffffff;
  padding-left: 40px;
  border: 1px solid white;
  outline: none;
  background-color: transparent;
}

.quite_big_inpt {
  height: 210px;
  width: 858px;
  border-radius: 40px;
  background-color: transparent;
  border: 1px solid white;
  outline: none;
  padding-left: 40px;
  color: white;
}

/* main and section responsive start */

@media (max-width: 576px) {
  .add_under {
    margin-left: 10px;
  }
  .num {
    margin: 10px;
  }
  .one_sec_btn,
  .quite_inpt {
    height: 53px;
    width: 300px;
    border-radius: 40px;
  }
  .line_three {
    width: 83px;
  }
  .quite_big_inpt {
    height: 230px;
    width: 303px;
  }
  .section_big_box {
    width: 90%;
    border-radius: 40px;
  }
}

/* main and section responsive finished */

/* footer qismi  */

.line_supper {
  height: 196px;
  width: 2px;
  margin-left: 80px;
  background: linear-gradient(
    179.87deg,
    #343045 0.47%,
    #343045 0.47%,
    #c0b7e8 35.21%,
    #8176af 68.91%,
    #343045 99.5%
  );
}
.width1 {
  text-align: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.btn_f>i,.btn_f_s{
  background: #c0b7e8;
  border: none;
  border-radius: 60%;
  padding: 10px 20px;
}
.btn_f{
  background-color: transparent;
  border: none;
}
.btn_f_s{
  font-size: 20px;
  font-weight: 400px;
}
.fa-brands {
  font-size: 20px;
}

.landing {
  color: white;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0.13em;
  text-align: left;
}
